### The modules we will need

In [1]:
# We import the SQLite python module for the database handling
import sqlite3

# the bz2 module is used to uncompress the files
import bz2

# the csv module serves for manipulating csv files
import csv

# while the OS module will help us manage the filepaths
import os

# pandas will be useful for storing and processing query results
import pandas as pd

### We uncompress the bz2 file

In [2]:
# The current working directory
cwd = os.getcwd()

# compressed file name
compressed = '2008.csv.bz2'

# The filepath of the compressed file
filepath_to_compressed = cwd + '/' + 'input' + '/' + compressed

In [3]:
# We first check whether the csv file already exists, if so we pass
# If not, we open the file, uncompress it and then write a new csv file.

if os.path.isfile(filepath_to_compressed[:-4]):    # isfile returns True if the filepath_to_compressed[:-4] leads to a file
    print ('File already exists')

else:
    zipfile = bz2.BZ2File(filepath_to_compressed)    # open the file
    data = zipfile.read()    # get the decompressed data. Pay attention, it is in binary format
    newfilepath = filepath[:-4]    # cut away the .bz2 ending
    open(newfilepath, 'wb').write(data)    # tranform the uncompressed binary data into a csv file.
    
    print('File' + filepath + 'created')

File already exists

### Now that we have all the relevant data we can start building our database

In [4]:
# We first create the database and the tables inside it


## The relevant filepaths
database_name = 'air_flights_project.db'
filepath_to_database = cwd + '/' + 'output' + '/' + database_name

creation_script_name = 'database_creation_script'
filepath_to_creation_script = cwd + '/' + 'output' + '/' + creation_script_name


## We transform our file into a long string, to be fed to sqlite
creation_string = ''
with open(filepath_to_creation_script,'r') as creation_script:
    for line in creation_script:
        creation_string += line


## creation of the database 
conn = sqlite3.connect(filepath_to_database)  # connect if exists, otherwise create database
cursor = conn.cursor()
cursor.executescript(creation_string)  # The script will create tables only if they do not exist -IF NOT EXIST clause

conn.close()

### Now we can insert the data into the various tables

In [5]:
# TABLE 1
# CARRIERS


# 1 - The relevant filepaths

# recall that filepath_to_database = cwd + '/' + 'output' + '/' + database_name
filepath_to_carriers = cwd + '/' + 'input' + '/' + 'carriers.csv'



# 2 - open the connection and clear the contents of the table
conn = sqlite3.connect(filepath_to_database)
cursor = conn.cursor()
query = ''' delete from carriers  '''
cursor.execute(query)

# 3 - read the lines 
with open(filepath_to_carriers,'r') as carriers:
    carriers_reader = csv.reader(carriers,delimiter=",")
    next(carriers_reader)  # skip first line with column names using the reader's next method
    
    for line in carriers_reader:

        query = ''' insert into carriers (Code, Full_name ) values (?, ?) '''
        cursor.execute(query, [line[0], line[1]])



conn.commit()



query =  ''' select * from carriers'''

carriers_df = pd.read_sql_query(query, conn, index_col=None, coerce_float=False, parse_dates=None, chunksize=None)

conn.close()

In [6]:
carriers_df

        Code                                     Full_name
0        02Q                                 Titan Airways
1        04Q                            Tradewind Aviation
2        05Q                           Comlux Aviation, AG
3        06Q                 Master Top Linhas Aereas Ltd.
4        07Q                           Flair Airlines Ltd.
5        09Q                                Swift Air, LLC
6        0BQ                                           DCA
7        0CQ                          ACM AIR CHARTER GmbH
8        0FQ          Maine Aviation Aircraft Charter, LLC
9        0GQ  Inter Island Airways, d/b/a Inter Island Air
10       0HQ       Polar Airlines de Mexico d/b/a Nova Air
11        0J                                    JetClub AG
12       0JQ                               Vision Airlines
13       0KQ                Mokulele Flight Services, Inc.
14       0LQ                             Metropix UK, LLP.
15       0MQ         Multi-Aero, Inc. d/b/a Air Choice One
16        0Q                           Flying Service N.V.
17        16                             PSA Airlines Inc.
18        17                             Piedmont Airlines
19        1I                       Sky Trek Int'l Airlines
20        2E                           Smokey Bay Air Inc.
21        2F                       Frontier Flying Service
22        2M                       Midway Express Airlines
23        2O                            Island Air Service
24        2R                                     Regal Air
25        2T                     Canada 3000 Airlines Ltd.
26        2U                       Valley Air Express Inc.
27        37                                      Zeal 320
28        3C                             Regions Air, Inc.
29        3F                         Pacific Airways, Inc.
...      ...                                           ...
1461      YB                    Trans Continental Airlines
1462     YBQ                               Yellow Bird Air
1463      YM                           Royal West Airlines
1464      YR    Scenic Airlines Inc. d/b/a Scenic Airlines
1465      YV                            Mesa Airlines Inc.
1466      YX                         Midwest Airline, Inc.
1467      Z3                                   PM Air, LLC
1468  Z3 (1)                                       Promech
1469      ZA                            Accessair Holdings
1470     ZAQ                          Zas Airline Of Egypt
1471      ZB                              Monarch Airlines
1472      ZE                          Lineas Aereas Azteca
1473     ZFZ                     Mcphillips Flying Service
1474     ZIA                                Air New Mexico
1475      ZK                          Great Lakes Airlines
1476     ZKQ                          Zantop International
1477      ZL                                     Affretair
1478     ZMZ                   Winnipesaukee Aviation Inc.
1479      ZN                             Key Airlines Inc.
1480      ZO                          Florida Express Inc.
1481      ZP                                Air St. Thomas
1482      ZQ                        Caribbean Sun Airlines
1483      ZS                            Hispaniola Airways
1484     ZUQ                           Zuliana De Aviacion
1485      ZV                              Air Midwest Inc.
1486      ZW                   Air Wisconsin Airlines Corp
1487      ZX                                  Air Georgian
1488  ZX (1)                                    Airbc Ltd.
1489      ZY                        Atlantic Gulf Airlines
1490     ZYZ                          Skyway Aviation Inc.

[1491 rows x 2 columns]

### A simpe test to verify that all the data  has been loaded

In [7]:
def count_csv_rows(filepath):
    '''
    a simple way to count the lines in a csv
    '''
    with open(filepath) as csv_file:
        return ( sum(1 for line in csv_file) )

In [8]:
def count_database_rows(filepath, table_name):
    '''
    a simple way to count the rows in a table
    '''
    conn = sqlite3.connect(filepath)
    cursor = conn.cursor()
    query = '''select count(*) from ''' + table_name
    cursor.execute(query)
    return ( cursor.fetchall()[0][0] )

In [9]:
# the lines in the source csv should be one greater than the rows in the database table
count_csv_rows ( filepath_to_carriers ) == 1 + count_database_rows ( filepath_to_database, 'carriers' )

True

In [10]:
# TABLE 2
# PLANES


# 1 - The relevant filepaths
# recall that filepath_to_database = cwd + '/' + 'output' + '/' + database_name
filepath_to_planes = cwd + '/' + 'input' + '/' + 'plane-data.csv'



# 2 - open the connection and clear the contents of the table
conn = sqlite3.connect(filepath_to_database)
cursor = conn.cursor()
query = ''' delete from planes  '''
cursor.execute(query)



# 3 - read the lines and insert them into the database
with open(filepath_to_planes,'r') as planes:
    planes_reader = csv.reader(planes,delimiter=",")
    next(planes_reader)  # skip first line with column names using the reader's next method
    
    for line in planes_reader:
        
        
        if len(line) == 9:  # checking if all fields are present in the csv. There are many rows with only a TailNum
            
           
        
            # The last column in the csv contains four different kinds of values
            # 'None', valid date strings - '1969', technically valid but inappropriate date string - '0000', and empty fields
            # we try to capture various cases and transform them accordingly
            type_none = (lambda x: None if ( (x == 'None') or  (x == '0000') or (x == 0)) else int(x)) 

            # For Issue-date we need a little manipulation to get to this date format YYYY-MM-DD, which sqlite understands
            date_manipulation = (lambda x: None if (x == 'None') else ( x[6:10] + '-' + x[0:2] + '-' + x[3:5]) )
            
            
            query = ''' insert into planes 
                ( TailNum, Type,  Manufacturer, Issue_date,  Model,Status,Aircraft_type ,Engine_type ,  Plane_year ) 
                values (?,?,?,?,?,?,?,?,?) '''
            
            
            
            cursor.execute(query, [line[0],
                                   line[1],
                                   line[2],
                                  date_manipulation(line[3] ),
                                   line[4],
                                   line[5],
                                   line[6],
                                   line[7],
                                   type_none(line[8]) ] )
        
        else:  # In case there is only a TailNum in the csv, we need to fill in the gaps with None types
            for element in line:
                element = element.strip('\r\n').strip('"')
                

            query = ''' insert into planes 
                ( TailNum, Type,  Manufacturer, Issue_date,  Model,Status,Aircraft_type ,Engine_type ,  Plane_year ) 
                values (?,?,?,?,?,?,?,?,?) '''
            
            cursor.execute(query, [element,None,None,None,None,None,None,None,None ] )

conn.commit()



query =  ''' select * from planes'''

planes_df = pd.read_sql_query(query, conn, index_col=None, coerce_float=False, parse_dates=None, chunksize=None)

conn.close()

In [11]:
# pandas automatically casts integers into float in the presence of NaNs
# For this reason Plane_year is integer in the database table, and becomes float in the dataframe

planes_df

,TailNum,Type,Manufacturer,Issue_date,Model,Status,Aircraft_type,Engine_type,Plane_year
0,N050AA,None,None,None,None,None,None,None,NaN
1,N051AA,None,None,None,None,None,None,None,NaN
2,N052AA,None,None,None,None,None,None,None,NaN
3,N054AA,None,None,None,None,None,None,None,NaN
4,N055AA,None,None,None,None,None,None,None,NaN
5,N056AA,None,None,None,None,None,None,None,NaN
6,N057AA,None,None,None,None,None,None,None,NaN
7,N058AA,None,None,None,None,None,None,None,NaN
8,N059AA,None,None,None,None,None,None,None,NaN
9,N060AA,None,None,None,None,None,None,None,NaN
10,N061AA,None,None,None,None,None,None,None,NaN
11,N062AA,None,None,None,None,None,None,None,NaN
12,N063AA,None,None,None,None,None,None,None,NaN
13,N064AA,None,None,None,None,None,None,None,NaN
14,N065AA,None,None,None,None,None,None,None,NaN
15,N066AA,None,None,None,None,None,None,None,NaN
16,N067AA,None,None,None,None,None,None,None,NaN
17,N068AA,None,None,None,None,None,None,None,NaN
18,N069AA,None,None,None,None,None,None,None,NaN
19,N070AA,None,None,None,None,None,None,None,NaN
20,N071AA,None,None,None,None,None,None,None,NaN
21,N072AA,None,None,None,None,None,None,None,NaN
22,N073AA,None,None,None,None,None,None,None,NaN
23,N074AA,None,None,None,None,None,None,None,NaN
24,N075AA,None,None,None,None,None,None,None,NaN
25,N076AA,None,None,None,None,None,None,None,NaN
26,N077AA,None,None,None,None,None,None,None,NaN
27,N078AA,None,None,None,None,None,None,None,NaN
28,N079AA,None,None,None,None,None,None,None,NaN
29,N080AA,None,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...
4999,N988AT,Corporation,BOEING,2002-05-15,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2001.0
5000,N988CA,Corporation,CANADAIR,2008-02-01,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1997.0
5001,N988DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1991-11-20,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5002,N988HA,Corporation,DEHAVILLAND,2008-05-15,DHC-8-202,Valid,Fixed Wing Multi-Engine,Turbo-Prop,1996.0
5003,N989AT,Corporation,BOEING,2002-06-03,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2001.0
5004,N989CA,Corporation,CANADAIR,2007-08-14,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998.0
5005,N989DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1991-12-20,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5006,N989HA,Corporation,DEHAVILLAND,2008-05-15,DHC-8-202,Valid,Fixed Wing Multi-Engine,Turbo-Prop,1996.0
5007,N990AT,Corporation,BOEING,2002-07-16,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2001.0
5008,N990DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1991-12-20,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5009,N991AT,Corporation,BOEING,2002-08-29,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,NaN
5010,N991cA,Corporation,CANADAIR,2007-08-30,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998.0
5011,N991DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1992-01-06,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5012,N991HA,Corporation,DEHAVILLAND,2008-05-15,DHC-8-202,Valid,Fixed Wing Multi-Engine,Turbo-Prop,1996.0
5013,N992AT,Corporation,BOEING,2002-09-12,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5014,N992DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1992-01-10,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5015,N993AT,Corporation,BOEING,2002-07-23,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5016,N993DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1992-02-07,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5017,N994AT,Corporation,BOEING,2002-11-05,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5018,N994DL,Corporation,MCDONNELL DOUGLAS CORPORATION,1992-02-03,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1991.0
5019,N995AT,Corporation,BOEING,2002-11-08,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5020,N995DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1992-03-06,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5021,N996AT,Corporation,BOEING,2002-07-30,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5022,N996DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1992-02-27,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1991.0
5023,N997AT,Corporation,BOEING,2003-01-02,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,1992-03-11,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992.0
5025,N998AT,Corporation,BOEING,2003-01-23,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,1992-04-02,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0
5027,N999CA,Foreign Corporation,CANADAIR,2008-07-09,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998.0
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,1992-04-02,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0

In [12]:
# the lines in the source csv should be one greater than the rows in the database table
count_csv_rows ( filepath_to_planes ) == 1 + count_database_rows ( filepath_to_database, 'planes' )

True

In [13]:
# TABLE 3
# AIRPORTS


# 1 - The relevant filepaths
# recall that filepath_to_database = cwd + '/' + 'output' + '/' + database_name
filepath_to_airports = cwd + '/' + 'input' + '/' + 'airports.csv'


# 2 - open the connection and clear the contents of the table
conn = sqlite3.connect( filepath_to_database )
cursor = conn.cursor()
query = ''' delete from airports  '''
cursor.execute(query)


# 3 - read the lines and insert them into the database
with open(filepath_to_airports,'r') as airports:
    airports_reader = csv.reader(airports,delimiter=",")
    next(airports_reader)  # skip first line with column names using the reader's next method
    
    for line in airports_reader:
        
        if len(line) == 7:  # checking if all fields are present in the csv

            query = ''' insert into airports ( IATA,Airport_name,City,
            US_State,Country,Latitude,Longitude ) values (?,?,?,?,?,?,?) '''
            
            cursor.execute(query, [line[0],line[1],line[2],line[3],line[4],float(line[5]),float(line[6]) ] )
        else:
            print(line) # Get us informed if a line has missing fields

conn.commit()


query =  ''' select * from airports'''

airports_df = pd.read_sql_query(query, conn, index_col=None, coerce_float=False, parse_dates=None, chunksize=None)

conn.close()

In [14]:
airports_df

,IATA,Airport_name,City,US_State,Country,Latitude,Longitude
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
5,01M,Tishomingo County,Belmont,MS,USA,34.491667,-88.201111
6,02A,Gragg-Wade,Clanton,AL,USA,32.850487,-86.611453
7,02C,Capitol,Brookfield,WI,USA,43.087510,-88.177869
8,02G,Columbiana County,East Liverpool,OH,USA,40.673313,-80.641406
9,03D,Memphis Memorial,Memphis,MO,USA,40.447259,-92.226961
10,04M,Calhoun County,Pittsboro,MS,USA,33.930112,-89.342852
11,04Y,Hawley Municipal,Hawley,MN,USA,46.883849,-96.350899
12,05C,Griffith-Merrillville,Griffith,IN,USA,41.519619,-87.401093
13,05F,Gatesville - City/County,Gatesville,TX,USA,31.421276,-97.796968
14,05U,Eureka,Eureka,NV,USA,39.604167,-116.005060
15,06A,Moton Municipal,Tuskegee,AL,USA,32.460472,-85.680036
16,06C,Schaumburg,Chicago/Schaumburg,IL,USA,41.989341,-88.101243
17,06D,Rolla Municipal,Rolla,ND,USA,48.884341,-99.620877
18,06M,Eupora Municipal,Eupora,MS,USA,33.534566,-89.312569
19,06N,Randall,Middletown,NY,USA,41.431566,-74.391917
20,06U,Jackpot/Hayden,Jackpot,NV,USA,41.976022,-114.658091
21,07C,Dekalb County,Auburn,IN,USA,41.307167,-85.064333
22,07F,Gladewater Municipal,Gladewater,TX,USA,32.528839,-94.971746
23,07G,Fitch H Beach,Charlotte,MI,USA,42.574509,-84.811431
24,07K,Central City Municipal,Central City,NE,USA,41.116681,-98.050336
25,08A,Wetumpka Municipal,Wetumpka,AL,USA,32.529439,-86.328221
26,08D,Stanley Municipal,Stanley,ND,USA,48.300799,-102.406351
27,08K,Harvard State,Harvard,NE,USA,40.651385,-98.079787
28,08M,Carthage-Leake County,Carthage,MS,USA,32.761246,-89.530071
29,09A,Butler-Choctaw County,Butler,AL,USA,32.119313,-88.127462
...,...,...,...,...,...,...,...
3346,Y55,Crandon Municipal,Crandon,WI,USA,45.516630,-88.933447
3347,Y63,Elbow Lake Municipal,Elbow Lake,MN,USA,45.986071,-95.991999
3348,Y66,Drummond Island,Drummond Island,MI,USA,46.009311,-83.743934
3349,Y68,Tracy Municipal,Tracy,MN,USA,44.249957,-95.604454
3350,Y70,Ionia County,Ionia,MI,USA,42.937700,-85.060667
3351,Y74,Hankins,Parshall,ND,USA,47.936401,-102.142114
3352,Y83,Sandusky City,Sandusky,MI,USA,43.454187,-82.849380
3353,Y93,Atlanta Municipal,Atlanta,MI,USA,45.000008,-84.133337
3354,YAK,Yakutat,Yakutat,AK,USA,59.503361,-139.660226
3355,YAP,Yap International,NA,NA,Federated States of Micronesia,9.516700,138.100000
3356,YIP,Willow Run,Detroit,MI,USA,42.237927,-83.530409
3357,YKM,Yakima Air Terminal,Yakima,WA,USA,46.568170,-120.544059
3358,YKN,Chan Gurney Municipal,Yankton,SD,USA,42.916694,-97.385944
3359,YNG,Youngstown-Warren Regional,Youngstown,OH,USA,41.260736,-80.679097
3360,YUM,Yuma MCAS-Yuma International,Yuma,AZ,USA,32.656583,-114.605972
3361,Z08,Ofu,Ofu Village,AS,USA,14.184351,-169.670024
3362,Z09,Kasigluk,Kasigluk,AK,USA,60.872022,-162.524809
3363,Z13,Akiachak,Akiachak,AK,USA,60.904532,-161.420910
3364,Z17,Ophir,Ophir,AK,USA,63.146037,-156.529865
3365,Z40,Goose Bay,Goose Bay,AK,USA,61.394451,-149.845556
3366,Z55,Lake Louise,Lake Louise,AK,USA,62.293689,-146.579422
3367,Z73,Nelson Lagoon,Nelson Lagoon,AK,USA,56.007536,-161.160367
3368,Z84,Clear,Clear A.F.B.,AK,USA,64.301204,-149.120144
3369,Z91,Birch Creek,Birch Creek,AK,USA,66.273996,-145.824038
3370,Z95,Cibecue,Cibecue,AZ,USA,34.003333,-110.444167
3371,ZEF,Elkin Municipal,Elkin,NC,USA,36.280024,-80.786069
3372,ZER,Schuylkill Cty/Joe Zerbey,Pottsville,PA,USA,40.706449,-76.373147
3373,ZPH,Zephyrhills Municipal,Zephyrhills,FL,USA,28.228065,-82.155916
3374,ZUN,Black Rock,Zuni,NM,USA,35.083227,-108.791777
3375,ZZV,Zanesville Municipal,Zanesville,OH,USA,39.944458,-81.892105

In [15]:
# the lines in the source csv should be one greater than the rows in the database table
count_csv_rows ( filepath_to_airports ) == 1 + count_database_rows ( filepath_to_database, 'airports' )

True

In [16]:
# TABLE 4
# Flights

# 1 - The relevant filepaths
# recall that filepath_to_database = cwd + '/' + 'output' + '/' + database_name
filepath_to_flights = cwd + '/' + 'input' + '/' + '2008.csv'


# 2 - open the connection and clear the contents of the table
conn = sqlite3.connect(filepath_to_database)
cursor = conn.cursor()
query = ''' delete from flights  '''
cursor.execute(query)


# 3 - read the lines and insert them into the database
with open(filepath_to_flights,'r') as flights:
    flights_reader = csv.reader(flights,delimiter=",")
    next(flights_reader)  # skip first line with column names using the reader's, next method
    
    for line in flights_reader:
  
        
        if len(line) == 29:  # checking if all fields are present in the csv


            query = ''' insert into flights (FlightYear,FlightMonth,FlightDay,DayOfWeek,DepTime,CRSDepTime,
            ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,
            CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,
            TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,
            NASDelay,SecurityDelay,LateAircraftDelay ) 
            values (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?) '''
            
            my_none = (lambda x: None if ((x == 'NA') or (x == '') ) else int(x))  # We replace None-string with 0 else we cast the string into integer

            string_none = (lambda x: None if ((x == 'NA') or (x == '') or (x == 'Unknown') ) else (x))  # We replace NA or empty string with Python None
            
            #The 'railroad' here aims at putting together all the pieces of a string that SQLite can treat as timestamp
            my_timestamp = (lambda x, y, z, w: None if ((w == 'NA') or (w == '') ) else
                    (x + '-' + y.rjust(2,'0') + '-' + z.rjust(2,'0') + ' ' + w[:-2].rjust(2,'0') + ':' + w[-2:] ) ) 
            
            # we wrap the query into a try clause. Any row that might create a problem will be sent to the except part
            try:
                cursor.execute(query, [my_none(line[0]),   # FlightYear
                                       my_none(line[1]),   # FlightMonth
                                       my_none(line[2]),   # FlightDay
                                       my_none(line[3]),   # DayOfWeek
                                       my_timestamp(line[0],line[1],line[2],line[4]),   # DepTime
                                       my_timestamp(line[0],line[1],line[2],line[5]),   # CRSDepTime
                                       my_timestamp(line[0],line[1],line[2],line[6]),   # ArrTime
                                       my_timestamp(line[0],line[1],line[2],line[7]),   # CRSArrTime
                                       (line[8]),          # UniqueCarrier
                                       my_none(line[9]),   # FlightNum
                                       string_none(line[10]),         # TailNum
                                       my_none(line[11]),  # ActualElapsedTime
                                       my_none(line[12]),  # CRSElapsedTime
                                       my_none(line[13]),  # AirTime
                                       my_none(line[14]),  # ArrDelay
                                       my_none(line[15]),  # DepDelay
                                       (line[16]),         # Origin
                                       (line[17]),         # Dest
                                       my_none(line[18]),  # Distance
                                       my_none(line[19]),  # TaxiIn
                                       my_none(line[20]),  # TaxiOut
                                       (line[21]),         # Cancelled
                                       string_none(line[22]),  # CancellationCode
                                       (line[23]),         # Diverted
                                       my_none(line[24]),  # CarrierDelay
                                       my_none(line[25]),  # WeatherDelay
                                       my_none(line[26]),  # NASDelay
                                       my_none(line[27]),  # SecurityDelay
                                       my_none(line[28])]) # LateAircraftDelay
            except:  # The main error was caused by four duplicate lines that violated the uniqueness constraint
                print (line)  # Let us see the troublesome lines
     
        else:
            print(line) # Get us informed if a line has missing fields



conn.commit()



query =  ''' select * from flights limit 200'''

flights_df = pd.read_sql_query(query, conn, index_col=None, coerce_float=False, parse_dates=None, chunksize=None)

conn.close()

['2008', '2', '28', '4', '829', '835', '1341', '1350', 'F9', '728', 'N201FR', '192', '195', '172', '-9', '-6', 'DEN', 'DCA', '1476', '6', '14', '0', '', '0', 'NA', 'NA', 'NA', 'NA', 'NA']
['2008', '2', '28', '4', '1427', '1435', '1640', '1636', 'F9', '727', 'N201FR', '253', '241', '228', '4', '-8', 'DCA', 'DEN', '1476', '9', '16', '0', '', '0', 'NA', 'NA', 'NA', 'NA', 'NA']
['2008', '2', '28', '4', '1854', '1807', '1946', '1902', 'F9', '773', 'N201FR', '112', '115', '91', '44', '47', 'DEN', 'LAS', '629', '8', '13', '0', '', '0', '44', '0', '0', '0', '0']
['2008', '2', '28', '4', '2027', '1942', '2314', '2229', 'F9', '780', 'N201FR', '107', '107', '84', '45', '45', 'LAS', 'DEN', '629', '10', '13', '0', '', '0', '1', '0', '44', '0', '0']

In [17]:
flights_df

,FlightYear,FlightMonth,FlightDay,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2008-01-03 20:03,2008-01-03 19:55,2008-01-03 22:11,2008-01-03 22:25,WN,335,...,4.0,8.0,0,None,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,2008-01-03 07:54,2008-01-03 07:35,2008-01-03 10:02,2008-01-03 10:00,WN,3231,...,5.0,10.0,0,None,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2008-01-03 06:28,2008-01-03 06:20,2008-01-03 08:04,2008-01-03 07:50,WN,448,...,3.0,17.0,0,None,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,2008-01-03 09:26,2008-01-03 09:30,2008-01-03 10:54,2008-01-03 11:00,WN,1746,...,3.0,7.0,0,None,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,2008-01-03 18:29,2008-01-03 17:55,2008-01-03 19:59,2008-01-03 19:25,WN,3920,...,3.0,10.0,0,None,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,2008-01-03 19:40,2008-01-03 19:15,2008-01-03 21:21,2008-01-03 21:10,WN,378,...,4.0,10.0,0,None,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,2008-01-03 19:37,2008-01-03 18:30,2008-01-03 20:37,2008-01-03 19:40,WN,509,...,3.0,7.0,0,None,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,2008-01-03 10:39,2008-01-03 10:40,2008-01-03 11:32,2008-01-03 11:50,WN,535,...,7.0,7.0,0,None,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,2008-01-03 06:17,2008-01-03 06:15,2008-01-03 06:52,2008-01-03 06:50,WN,11,...,6.0,19.0,0,None,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,2008-01-03 16:20,2008-01-03 16:20,2008-01-03 16:39,2008-01-03 16:55,WN,810,...,3.0,6.0,0,None,0,NaN,NaN,NaN,NaN,NaN
10,2008,1,3,4,2008-01-03 07:06,2008-01-03 07:00,2008-01-03 09:16,2008-01-03 09:15,WN,100,...,5.0,19.0,0,None,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,2008-01-03 16:44,2008-01-03 15:10,2008-01-03 18:45,2008-01-03 17:25,WN,1333,...,6.0,8.0,0,None,0,8.0,0.0,0.0,0.0,72.0
12,2008,1,3,4,2008-01-03 14:26,2008-01-03 14:30,2008-01-03 14:26,2008-01-03 14:25,WN,829,...,9.0,12.0,0,None,0,NaN,NaN,NaN,NaN,NaN
13,2008,1,3,4,2008-01-03 07:15,2008-01-03 07:15,2008-01-03 07:20,2008-01-03 07:10,WN,1016,...,7.0,21.0,0,None,0,NaN,NaN,NaN,NaN,NaN
14,2008,1,3,4,2008-01-03 17:02,2008-01-03 17:00,2008-01-03 16:51,2008-01-03 16:55,WN,1827,...,4.0,10.0,0,None,0,NaN,NaN,NaN,NaN,NaN
15,2008,1,3,4,2008-01-03 10:29,2008-01-03 10:20,2008-01-03 10:21,2008-01-03 10:10,WN,2272,...,6.0,9.0,0,None,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,2008-01-03 14:52,2008-01-03 14:25,2008-01-03 16:40,2008-01-03 16:25,WN,675,...,7.0,8.0,0,None,0,3.0,0.0,0.0,0.0,12.0
17,2008,1,3,4,2008-01-03 07:54,2008-01-03 07:45,2008-01-03 09:40,2008-01-03 09:55,WN,1144,...,5.0,16.0,0,None,0,NaN,NaN,NaN,NaN,NaN
18,2008,1,3,4,2008-01-03 13:23,2008-01-03 12:55,2008-01-03 15:26,2008-01-03 15:10,WN,4,...,4.0,9.0,0,None,0,0.0,0.0,0.0,0.0,16.0
19,2008,1,3,4,2008-01-03 14:16,2008-01-03 13:25,2008-01-03 15:12,2008-01-03 14:35,WN,54,...,2.0,5.0,0,None,0,12.0,0.0,0.0,0.0,25.0
20,2008,1,3,4,2008-01-03 07:06,2008-01-03 07:05,2008-01-03 08:07,2008-01-03 08:10,WN,68,...,3.0,7.0,0,None,0,NaN,NaN,NaN,NaN,NaN
21,2008,1,3,4,2008-01-03 16:57,2008-01-03 16:25,2008-01-03 17:54,2008-01-03 17:35,WN,623,...,5.0,5.0,0,None,0,7.0,0.0,0.0,0.0,12.0
22,2008,1,3,4,2008-01-03 19:00,2008-01-03 18:40,2008-01-03 19:56,2008-01-03 19:50,WN,717,...,2.0,5.0,0,None,0,NaN,NaN,NaN,NaN,NaN
23,2008,1,3,4,2008-01-03 10:39,2008-01-03 10:30,2008-01-03 11:33,2008-01-03 11:40,WN,1244,...,2.0,5.0,0,None,0,NaN,NaN,NaN,NaN,NaN
24,2008,1,3,4,2008-01-03 08:01,2008-01-03 08:00,2008-01-03 09:02,2008-01-03 09:10,WN,2101,...,3.0,5.0,0,None,0,NaN,NaN,NaN,NaN,NaN
25,2008,1,3,4,2008-01-03 15:20,2008-01-03 14:55,2008-01-03 16:19,2008-01-03 16:05,WN,2553,...,2.0,7.0,0,None,0,NaN,NaN,NaN,NaN,NaN
26,2008,1,3,4,2008-01-03 14:22,2008-01-03 12:55,2008-01-03 16:57,2008-01-03 16:10,WN,188,...,6.0,6.0,0,None,0,40.0,0.0,0.0,0.0,7.0
27,2008,1,3,4,2008-01-03 19:54,2008-01-03 19:25,2008-01-03 22:39,2008-01-03 22:35,WN,1754,...,3.0,7.0,0,None,0,NaN,NaN,NaN,NaN,NaN
28,2008,1,3,4,2008-01-03 06:36,2008-01-03 06:35,2008-01-03 09:21,2008-01-03 09:45,WN,2275,...,5.0,13.0,0,None,0,NaN,NaN,NaN,NaN,NaN
29,2008,1,3,4,2008-01-03 07:34,2008-01-03 07:30,2008-01-03 09:58,2008-01-03 10:20,WN,550,...,2.0,8.0,0,None,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2008,1,3,4,2008-01-03 19:19,2008-01-03 18:45,2008-01-03 00:31,2008-01-03 00:5,WN,2025,...,8.0,13.0,0,None,0,4.0,0.0,0.0,0.0,22.0
171,2008,1,3,4,2008-01-03 19:45,2008-01-03 18:15,2008-01-03 00:52,2008-01-03 23:35,WN,2450,...,8.0,11.0,0,None,0,13.0,0.0,0.0,0.0,64.0
172,2008,1,3,4,2008-01-03 20:57,2008-01-03 19:30,2008-01-03 02:02,2008-01-03 00:50,WN,2794,...,7.0,7.0,0,None,0,60.0,0.0,0.0,0.0,12.0
173,2008,1,3,4,2008-01-03 13:54,2008-01-03 13:10,2008-01-03 19:07,2008-01-03 18:45,WN,3232,...,6.0,10.0,0,None,0,4.0,0.0,0.0,0.0,18.0
174,2008,1,3,4,2008-01-03 17:03,2008-01-03 16:45,2008-01-03 00:33,2008-01-03 00:35,WN,767,...,4.0,9.0,0,None,0,NaN,NaN,NaN,NaN,NaN
175,2008,1,3,4,2008-01-03 10:30,2008-01-03 10:30,2008-01-03 15:45,2008-01-03 15:45,WN,762,...,3.0,18.0,0,None,0,NaN,NaN,NaN,NaN,NaN
176,2008,1,3,4,2008-01-03 19:03,2008-01-03 18:25,2008-01-03 00:5,2008-01-03 23:40,WN,3327,...,4.0,12.0,0,None,0,3.0,0.0,0.0,0.0,22.0
177,2008,1,3,4,2008-01-03 11:08,2008-01-03 11:10,2008-01-03 12:44,2008-01-03 12:40,WN,125,...,4.0,12.0,0,None,0,NaN,NaN,NaN,NaN,NaN
178,2008,1,3,4,None,2008-01-03 07:00,None,2008-01-03 08:30,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
179,2008,1,3,4,2008-01-03 13:54,2008-01-03 13:45,2008-01-03 15:25,2008-01-03 15:20,WN,127,...,4.0,13.0,0,None,0,NaN,NaN,NaN,NaN,NaN
180,2008,1,3,4,2008-01-03 19:44,2008-01-03 17:40,2008-01-03 21:10,2008-01-03 19:15,WN,223,...,5.0,9.0,0,None,0,21.0,0.0,0.0,0.0,94.0
181,2008,1,3,4,2008-01-03 12:51,2008-01-03 12:05,2008-01-03 14:25,2008-01-03 13:45,WN,237,...,3.0,15.0,0,None,0,2.0,0.0,0.0,0.0,38.0
182,2008,1,3,4,2008-01-03 15:48,2008-01-03 15:05,2008-01-03 17:28,2008-01-03 16:35,WN,280,...,4.0,18.0,0,None,0,14.0,0.0,10.0,0.0,29.0
183,2008,1,3,4,2008-01-03 08:21,2008-01-03 08:20,2008-01-03 09:55,2008-01-03 09:50,WN,864,...,3.0,19.0,0,None,0,NaN,NaN,NaN,NaN,NaN
184,2008,1,3,4,2008-01-03 22:16,2008-01-03 21:25,2008-01-03 23:48,2008-01-03 22:55,WN,900,...,4.0,10.0,0,None,0,11.0,0.0,2.0,0.0,40.0
185,2008,1,3,4,2008-01-03 20:10,2008-01-03 19:00,2008-01-03 22:03,2008-01-03 20:30,WN,962,...,28.0,8.0,0,None,0,45.0,0.0,23.0,0.0,25.0
186,2008,1,3,4,2008-01-03 14:33,2008-01-03 14:20,2008-01-03 16:08,2008-01-03 15:55,WN,1011,...,4.0,12.0,0,None,0,NaN,NaN,NaN,NaN,NaN
187,2008,1,3,4,2008-01-03 09:35,2008-01-03 09:25,2008-01-03 11:06,2008-01-03 10:55,WN,1258,...,3.0,17.0,0,None,0,NaN,NaN,NaN,NaN,NaN
188,2008,1,3,4,2008-01-03 21:56,2008-01-03 21:55,2008-01-03 23:34,2008-01-03 23:25,WN,1950,...,5.0,10.0,0,None,0,NaN,NaN,NaN,NaN,NaN
189,2008,1,3,4,2008-01-03 20:35,2008-01-03 20:20,2008-01-03 22:09,2008-01-03 21:50,WN,3135,...,3.0,10.0,0,None,0,15.0,0.0,4.0,0.0,0.0
190,2008,1,3,4,2008-01-03 06:02,2008-01-03 06:00,2008-01-03 07:33,2008-01-03 07:30,WN,3233,...,4.0,11.0,0,None,0,NaN,NaN,NaN,NaN,NaN
191,2008,1,3,4,2008-01-03 11:52,2008-01-03 11:45,2008-01-03 16:16,2008-01-03 16:05,WN,86,...,4.0,24.0,0,None,0,NaN,NaN,NaN,NaN,NaN
192,2008,1,3,4,2008-01-03 14:35,2008-01-03 13:15,2008-01-03 18:59,2008-01-03 17:55,WN,479,...,3.0,9.0,0,None,0,38.0,0.0,0.0,0.0,26.0
193,2008,1,3,4,2008-01-03 20:49,2008-01-03 19:20,2008-01-03 01:06,2008-01-03 23:55,WN,875,...,2.0,10.0,0,None,0,32.0,0.0,0.0,0.0,39.0
194,2008,1,3,4,2008-01-03 09:13,2008-01-03 09:10,2008-01-03 13:42,2008-01-03 13:50,WN,2111,...,4.0,14.0,0,None,0,NaN,NaN,NaN,NaN,NaN
195,2008,1,3,4,2008-01-03 16:13,2008-01-03 16:10,2008-01-03 17:21,2008-01-03 17:05,WN,187,...,4.0,26.0,0,None,0,0.0,0.0,16.0,0.0,0.0
196,2008,1,3,4,2008-01-03 20:15,2008-01-03 19:45,2008-01-03 21:01,2008-01-03 20:40,WN,725,...,4.0,8.0,0,None,0,3.0,0.0,0.0,0.0,18.0
197,2008,1,3,4,2008-01-03 06:55,2008-01-03 06:55,2008-01-03 07:42,2008-01-03 07:50,WN,731,...,4.0,8.0,0,None,0,NaN,NaN,NaN,NaN,NaN
198,2008,1,3,4,2008-01-03 14:38,2008-01-03 14:35,2008-01-03 15:33,2008-01-03 15:30,WN,872,...,6.0,16.0,0,None,0,NaN,NaN,NaN,NaN,NaN
199,2008,1,3,4,2008-01-03 11:02,2008-01-03 10:30,2008-01-03 11:52,2008-01-03 11:25,WN,906,...,3.0,11.0,0,None,0,27.0,0.0,0.0,0.0,0.0

In [18]:
# The lines in the source csv should be 5 greater than the rows in the database table.
# 1 for the header and 4 for the duplicate lines
count_csv_rows ( filepath_to_flights ) == 5 + count_database_rows ( filepath_to_database, 'flights' )

True

### After having inserted all the data, we should build custom indexes

In [19]:
# Indexes
# We will need them for the flights table, that is big and complicated.
# We have choosen the columns that are unique enough to be useful, and relevant to our possible queries

conn = sqlite3.connect(filepath_to_database)
cursor = conn.cursor()

query = '''

CREATE INDEX idx_flights_FlightDay ON flights ( FlightDay );

CREATE INDEX idx_flights_UniqueCarrier ON flights ( UniqueCarrier );

CREATE INDEX idx_flights_FlightNum ON flights ( FlightNum );

CREATE INDEX idx_flights_TailNum ON flights ( TailNum );

CREATE INDEX idx_flights_Origin ON flights ( Origin );

CREATE INDEX idx_flights_Dest ON flights ( Dest );


'''

cursor.executescript(query)

conn.commit()

conn.close()